---
import { Image } from "astro:assets"
import firstImage from "../assets/01.webp"
import secondImage from "../assets/02.webp"
import thirdImage from "../assets/03.webp"
import fourthImage from "../assets/04.webp"
import fifthImage from "../assets/05.webp"
import sixthImage from "../assets/06.webp"
import seventhImage from "../assets/07.webp"
import eighthImage from "../assets/08.webp"
import ninthImage from "../assets/09.webp"

const images = [
  firstImage,
  secondImage,
  thirdImage,
  fourthImage,
  fifthImage,
  sixthImage,
  seventhImage,
  eighthImage,
  ninthImage,
]
---

<section id="gallery" class="bg-[#bebebe]">
  <div
    class="hidden md:flex flex-wrap align-middle justify-center gap-2 px-6 py-12"
  >
    <!-- grid grid-cols-2 md:grid-cols-3 -->
    {
      images.map((image) => (
        <div class="max-w-80">
          <Image class="h-auto max-w-full rounded-lg" src={image} alt="" />
        </div>
      ))
    }
  </div>
  <div class="relative bg-black md:hidden">
    <div
      class="absolute inset-0 bg-cover bg-center"
      style="background-image: url('/src/assets/02.webp'); opacity: 0.5;"
    >
    </div>
    <div
      class="relative z-10 flex flex-col items-center justify-center h-[88vh] text-white text-center px-6"
    >
    </div>
  </div>
</section>
