---
import { Image } from "astro:assets"
import logo from "../assets/logo.webp"
---

<section id="hero" class="relative bg-black">
  <div
    class="absolute inset-0 bg-cover bg-center bg-hero-background opacity-50"
  >
  </div>
  <div
    class="relative z-10 flex flex-col items-center justify-center h-[88vh] text-white text-center px-6"
  >
    <span class="text-xl sm:text-2xl font-kalam animate-fadeInDown pb-2"
      >Bem vindo(a) ao</span
    >
    <h1 class="text-2xl sm:text-6xl font-bold font-kalam animate-fadeInDown">
      Pesqueiro do Parque
    </h1>
    <Image
      class="absolute -bottom-24 z-90 animate-fadeInDown"
      src={logo}
      width={200}
      height={200}
      alt="Logo do Pesqueiro do Parque"
    />
  </div>
</section>
