---

---

<section id="hero" class="relative bg-black">
  <div
    class="absolute inset-0 bg-cover bg-center bg-hero-background opacity-50"
  >
  </div>
  <div
    class="relative z-10 flex flex-col items-center justify-center h-[88vh] text-white text-center px-6"
  >
    <span class="text-xl sm:text-2xl font-dmSerif animate-fadeInDown pb-1"
      >Bem vindo(a) ao</span
    >
    <h1 class="text-2xl sm:text-6xl animate-fadeInDown font-bristain uppercase">
      Pesqueiro do Parque
    </h1>
    <img
      class="absolute -bottom-24 z-90 animate-fadeInDown"
      src="/logo.webp"
      width={200}
      height={200}
      alt="Logo do Pesqueiro do Parque"
    />
  </div>
</section>
