<header
  class="fixed w-screen py-4 px-8 z-20 bg-black/50 backdrop-blur-sm animate-fadeInDown"
>
  <nav class="flex flex-col">
    <button
      id="menu-button"
      class="sm:hidden text-white font-bristain uppercase">Menu</button
    >
    <ul
      class="hidden pt-4 sm:pt-0 sm:flex flex-col sm:flex-row justify-center align-middle sm:gap-8 text-white text-center font-bristain uppercase"
    >
      <li><a href="#hero">Inicio</a></li>
      <li class="py-2 sm:py-0"><a href="#gallery">Galeria</a></li>
      <li><a href="#footer">Localização</a></li>
    </ul>
  </nav>
</header>

<script>
  const menuButton = document.querySelector("#menu-button")
  const navList = document.querySelector("nav ul")

  menuButton.addEventListener("click", () => {
    navList.classList.toggle("hidden")
  })

  const navLinks = document.querySelectorAll("nav ul li a")
  navLinks.forEach((link) => {
    link.addEventListener("click", () => {
      navList.classList.add("hidden")
    })
  })
</script>
