<header class="fixed w-screen py-4 px-8 z-20 bg-black/50 backdrop-blur-sm">
  <nav
    class="flex lg:flex-row items-center justify-center max-w-screen-xl mx-auto h-1"
  >
    <ul class="flex lg:flex-row gap-12 text-white font-kalam text-lg">
      <li><a href="#hero">Inicio</a></li>
      <li><a href="#gallery">Galeria</a></li>
      <li><a href="#">Localização</a></li>
    </ul>
  </nav>
</header>
