---
import Navbar from "../components/Navbar.astro"
import "@fontsource/kalam/400.css"
import "@fontsource/kalam/700.css"
import "@fontsource-variable/inter/slnt.css"
import "../styles/global.css"
---

<html lang="pt-br" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta
      name="description"
      content="Local para pesca esportiva/pesque e solte"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <title>Pesqueiro do Parque</title>
  </head>
  <body>
    <Navbar />
    <slot />
  </body>
</html>
